doctype html
html
	head
		link(rel="stylesheet", href="css/main.css")
	body.page
		.wrapper
			.header
				.logo__wrapper
					.inner
						.logo.logo--top
							img(src="img/logo.png", alt="")
						.search.search--top
							form(action="/search/")
								input(type="text" placeholder="Поиск недвижимости")
								input(type="submit")
						.contact.contact--top
							span Звоните прямо сейчас <br>
							a(href="tel:+74952277771") +7 (495 227-77-71)
				.nav
					.inner
						ul.menu.menu--main
							li.menu__item.menu--main__item
								a(href="#") Поселки
							li.menu__item.menu--main__item
								a(href="#") Дома
							li.menu__item.menu--main__item
								a(href="#") Участки
							li.menu__item.menu--main__item
								a(href="#") Таунхаусы
							li.menu__item.menu--main__item
								a(href="#") Квартиры
							li.menu__item.menu--main__item
								a(href="#") Аренда
						.extra
							.extra__item
								a.fav
							.extra__item
								select.cur
									option USD
			.content
				.content__inner
					.content__wrapper
						.catalog
							.catalog__row
								.catalog__item.catalog__item--third
									.offer
										a(href="#")
											img(src="img/catalog-1-1.png", alt="")
										.description
											.description__wrapper
												a.title(href="#") Береста, 1 км
												.price $8500000
											.description__options
												.option.option--tree 42 <small>сотки</small>
												.option.option--house 1600 <small>м</small><sup>2</sup>
												.option.option--hammer Без отделки

								.catalog__item.catalog__item--third
									.offer
										a(href="#")
											img(src="img/catalog-1-1.png", alt="")
										.description
											.description__wrapper
												a.title(href="#") Береста, 1 км
												.price $8500000
											.description__options
												.option.option--tree 42 <small>сотки</small>
												.option.option--house 1600 <small>м</small><sup>2</sup>
												.option.option--hammer Без отделки
								.catalog__item.catalog__item--third
									.offer
										a(href="#")
											img(src="img/catalog-1-1.png", alt="")
										.description
											.description__wrapper
												a.title(href="#") Береста, 1 км
												.price $8500000
											.description__options
												.option.option--tree 42 <small>сотки</small>
												.option.option--house 1600 <small>м</small><sup>2</sup>
												.option.option--hammer Без отделки
							.catalog__row
								.catalog__item.catalog__item--third
									.offer
										a(href="#")
											img(src="img/catalog-1-1.png", alt="")
										.description
											.description__wrapper
												a.title(href="#") Береста, 1 км
												.price $8500000
											.description__options
												.option.option--tree 42 <small>сотки</small>
												.option.option--house 1600 <small>м</small><sup>2</sup>
												.option.option--hammer Без отделки
								.catalog__item.catalog__item--third
									.offer
										a(href="#")
											img(src="img/catalog-1-1.png", alt="")
										.description
											.description__wrapper
												a.title(href="#") Береста, 1 км
												.price $8500000
											.description__options
												.option.option--tree 42 <small>сотки</small>
												.option.option--house 1600 <small>м</small><sup>2</sup>
												.option.option--hammer Без отделки
								.catalog__item.catalog__item--third
									.offer
										a(href="#")											
											img(src="img/catalog-1-1.png", alt="")
										.description
											.description__wrapper
												a.title(href="#") Береста, 1 км
												.price $8500000
											.description__options
												.option.option--tree 42 <small>сотки</small>
												.option.option--house 1600 <small>м</small><sup>2</sup>
												.option.option--hammer Без отделки
							.catalog__row
								.catalog__item.catalog__item--full
									a(href="#")
										.image							
											img(src="img/catalog-7-1.png", alt="")
											.image__description
												.description__wrapper
													.title Green Field
													.promo.
														Рады представить вашему вниманию лучший поселок <br>текущего года на Новорижском шоссе 

							.catalog__row
								.catalog__item.catalog__item--third
									.offer
										a(href="#")
											img(src="img/catalog-1-1.png", alt="")
										.description
											.description__wrapper
												a.title(href="#") Береста, 1 км
												.price $8500000
											.description__options
												.option.option--tree 42 <small>сотки</small>
												.option.option--house 1600 <small>м</small><sup>2</sup>
												.option.option--hammer Без отделки
								.catalog__item.catalog__item--third
									.offer
										a(href="#")
											img(src="img/catalog-1-1.png", alt="")
										.description
											.description__wrapper
												a.title(href="#") Береста, 1 км
												.price $8500000
											.description__options
												.option.option--tree 42 <small>сотки</small>
												.option.option--house 1600 <small>м</small><sup>2</sup>
												.option.option--hammer Без отделки
								.catalog__item.catalog__item--third
									.offer
										a(href="#")											
											img(src="img/catalog-1-1.png", alt="")
										.description
											.description__wrapper
												a.title(href="#") Береста, 1 км
												.price $8500000
											.description__options
												.option.option--tree 42 <small>сотки</small>
												.option.option--house 1600 <small>м</small><sup>2</sup>
												.option.option--hammer Без отделки
						.journal
							.title
								img(src="img/journal.png", alt="")
							.journal__wrapper
								.journal__item
									.journal__inner
										.journal__content
											.image
												img(src="img/journal-image.png", alt="")
											.description
												.description__wrapper
													.category Инвестиции
													.article
														h4 Инвесторы поневоле. Стратегические покупки в условиях кризиса
														.author
															img.img-circle(src="img/author.png", alt="")
															span Валерия Мозганова
														p Рынок недвижимости лихорадит уже больше года. За это время мы увидели не одну волну покупательского ажиотажа, в особенно напряженном графике отделы продаж работали в конце 2014 г.
								.journal__item
									.journal__inner
										.journal__content
											.image
												img(src="img/journal-image.png", alt="")
											.description
												.description__wrapper
													.category Инвестиции
													.article
														h4 Инвесторы поневоле. Стратегические покупки в условиях кризиса
														.author
															img.img-circle(src="img/author.png", alt="")
															span Валерия Мозганова
														p Рынок недвижимости лихорадит уже больше года. За это время мы увидели не одну волну покупательского ажиотажа, в особенно напряженном графике отделы продаж работали в конце 2014 г.
					.sidebar
						.sort
							strong Сортировать
							.sort__wrapper
								a.sort__item(href="#") Новые предложения
								a.sort__item(href="#") Акции и скидки
								a.sort__item(href="#") Популярные поселки
								hr
								a.sort__item(href="#") Школа рядом
								a.sort__item(href="#") У воды
								a.sort__item(href="#") В лесу
								a.sort__item(href="#") Клубные поселок
		.footer
			.inner
				p text